h1{
    padding-left: 2rem;
    font-family: "Montserrat", sans-serif;
    
}
html{
    font-family: "Montserrat" , sans-serif;
}
.navbar{
    position: fixed;
    width: 100%;
    
    background-color: #476f5e;
    height: 4rem;
    line-height: 4rem;
    
    color: white;

}
